@charset "utf-8";
@font-face {
    font-family: "MyriadProRegular";
    src: url('../fonts/MyriadProRegular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url('../fonts/MyriadProBold.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    margin: 0;
    padding: 0;
}
#results{
    display: none;
}
.container {
    width: 100%;
    background: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
display: flex;
background: url('../img/header-bg.png') center;
    background-size: cover;
    border-bottom: 2px solid #0798c7;
}
nav{
    width: 100%;
    height: 3.9em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #35abd1;
    opacity: 0.9;
    z-index: 5;
    position: fixed;
}
nav.sticky{
    width: 100%;
    height: 3.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #35abd1;
    opacity: 0.9;
    z-index: 5;
}
.navigation{
    display: flex;
    width: 65%;
    justify-content: space-between;
    -webkit-padding-start: 0;
}
nav>ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    list-style: none;
    position: relative;
}
nav ul li:hover{
    background: #0d9ac8;

}
nav>ul>li:hover {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: -2.5%;
    margin-right: -2.5%;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: #FFF;
    line-height: 3.45em;
    font-family: "MyriadProRegular", serif;
}
nav ul li a .sticky{
    text-decoration: none;
    font-size: 1.125rem;
    color: #FFF;
    line-height: 3.35em;
    font-family: "MyriadProRegular", serif;
}

.hide_menu{
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 104%;
    position: absolute;
    background-color: #259ec5;
    width: 263px;
    -webkit-padding-start: 0;
    left: 0;
    visibility: hidden;
    opacity: 0.8;
}
.hide_menu li{
    padding: 4.7% 0 4.7% 0;
    text-align: center;
}
.hide_menu li a{
    line-height: 2.45rem;
}
.hide_menu li:hover{
    line-height:1em ;
    font-size: 1rem;

}
nav ul li:hover .hide_menu{
    visibility: visible;
    transition: width 2s linear 500ms;
}
.header-content{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    width: 65%;
    min-width: 750px;
}
.header-content figure{
    width: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 2%;
    box-sizing: border-box;
}
.logo{
    width: 80%;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    margin-bottom: -1.5%;
}
.header-content figcaption{
    color: #FFFFFF;
    font-family: "MyriadProRegular", serif;
    font-size: 1.2em;
    margin-bottom: 6%;
}
.social_networks{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.social_networks a img{
    opacity: 0.7;
}
.social_networks a img:hover{
    opacity: 1;
}
.face{
    position: relative;
    width: 33%;
    margin-left: 5.5%;
    box-sizing: border-box;
}
.header_link{
    display: block;
    flex-direction: column;
    list-style: none;
}
.header_link li{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
visibility: hidden;
}
.header_link li h3{
    color: #72747a;
    font-family: "MyriadProRegular", serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin: 0;
    margin-left: 2%;
    background: linear-gradient(to right, #f1d4c0 30%, #cc9e80 40%);
  padding-right: 10%;
    padding-left: 1%;
    border-radius: 5px 10px 10px 5px;
    opacity: 0.8;
}
.header_link li:before{
    content:url('../img/white-circle.png');
    background: url("../img/white-circle-bg.png") center no-repeat;
    padding: 4px;
    visibility: visible;
    padding-left: 4px;
}
.header_link li:hover:before{
    transform: scale(1.2,1.2);
    transition: 0.5s;
}
.header_link li:hover{
  visibility: visible;
    transition: visibility 0.5s linear 200ms;
}
#link1{
    position: absolute;
    top: 18.5%;
    left: 0;
}
#link2{
    position: absolute;
    top: 26.5%;
    left: 14.5%;
}
#link3{
    position: absolute;
    top: 35.3%;
    left: 10%;
}
#link4{
    position: absolute;
    top: 48.2%;
    left: 14.5%;
}
#link5{
    position: absolute;
    top: 61%;
    left: 5.2%;
}
.header-content section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
align-items: flex-end;
    width: 20%;
    margin-top:44%;
}
.header-content section ul li{
    font-size: 0.875rem;
    list-style: none;
    font-weight: bold;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.header-content section a{
text-decoration: none;
    color: #a8bec7;
    display: flex;
}
.header-content section a:hover{
    color: #0798c7;
}
header section>a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    position: absolute;
    font-family: MyriadProBold, serif;
    font-size: 1.125rem;
    color: white;
    line-height: 1.25rem;
    height: 63px;
    width: 35%;
}

header section a#blue-link, header section a#green-link {
    right: 0;
    color:lightcyan;
}
header section a#blue-link:hover, header section a#green-link:hover{
    color: white;}
header section a#green-link{
    position: absolute;
    top:17.6%;
   right:0;
    background: linear-gradient(to right, #d0e4a9 5%, #a9cd39 28%, #ecf6fb 95%);
}
header section a#green-link:before {
    content: url('../img/green-circle.png');
   position: absolute;
    left: -10%;
    top: -3%;
    -webkit-transform: scale(1,1);
    border-radius: 50%;
    box-shadow: 0 0 1px 10px rgba(255,255,255,0.7);
}

header section a#green-link:hover:before{
    content: url('../img/green-circle.png');
    position: absolute;
    left: -11%;
    top:-10%;
    -webkit-transform: scale(1.3,1.3);
    box-shadow: 0 0 1px 10px rgba(255,255,255,1.5);
     -webkit-transition: ease-out 550ms;
}
header section a#blue-link {
    top:31.2%;
    background: linear-gradient(to right, #7ee5f2 5%, #0bd4e9 28%, #ecf6fb 95%);
}

header section a#blue-link:before{
    content: url('../img/blue-circle.png');
    position: absolute;
    left: -11%;
    top:-17%;
    -webkit-transform: scale(1,1);
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(225,255,255,0.7);
}


header section a#blue-link:hover:before {
    content: url('../img/blue-circle.png');
    position: absolute;
    left: -13%;
    top: -18%;
    -webkit-transform: scale(1.3, 1.3);
    box-shadow: 0 0 1px 10px rgba(255,255,255,1.5);
     -webkit-transition: ease-out 550ms;
}
.service{
    background: #dae5e9;
    display: flex;
   justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.service ul {
    width: 34%;
    min-width: 330px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service li {
    list-style: none;
    flex-direction: column;
    width: 18.75%;
    text-align: center;
}
.service  li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: MyriadProRegular, serif;
    color: #2b2b2b;
}
.service img {
    width: 9.95rem;
    height: 9.95rem;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #979da0, 0 0 0 6px #dae5e9, 0 0 0 7px #979da0;
    margin-bottom: 10%;
}
.service img:hover {
    box-shadow: 0 0 0 3px #979da0, 0 0 0 6px #dae5e9, 0 0 0 7px  #0798c7, 0 17px 17px #b4bdc0;
}
.philosophy figure{
    display: flex;
    flex-direction: row;
    width: 57%;
    min-width: 750px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 3%;
    box-sizing: border-box;
}
.philosophy figure:before{
    content: url("../img/philosophy_content_before.png");
    display: flex;
    align-items: flex-start;
    margin-top: -5%;
}
.philosophy figure:after{
    content: url("../img/philosophy_content_after.png");
    display: flex;
    align-items: flex-end;
    margin-bottom: -4%;
}
.philosophy figure img{
    width:11.95rem;
    height: 11.95rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1.2em #ecf2f4;
    margin-left: -27px;
    margin-top: 1.5%;
    margin-right: 3.2rem;
    box-sizing: border-box;
}
.philosophy figcaption p{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.philosophy p{
    padding: 0;
    margin: 0;
    font-size: 0.8435rem;
    text-indent: 2.5em;
}
.philosophy p:last-child{
    text-indent: 0;
}
.philosophy h4{
    font-family: "Myriad Pro",serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0;
    margin:0;
}
.gallery p{
   display: flex;
    justify-content: center;
  padding-top:1% ;
    font-family: "MyriadProRegular", serif;
    font-size:1.875rem ;
    color: white;
}
.gallery{
    background: url('../img/gallery-bg.png');
    padding-bottom: 1.5%;
}
.slider-home {
    position: relative;
    width:100%;
    display: inline-block;
}

.slider-home ul {
    padding-left: 0px;
    margin-left: 0px;
    width: 59%;
    margin: 0 auto;
}
.slider-home ul li {
    outline: none;
    transition: 0.4s;
}
.arrows-left.slick-arrow {
    display: inline-block;
    position: absolute;
    left: 20px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.arrows-right.slick-arrow {
    display: inline-block;
    position: absolute;
    right: 20px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.slider-home ul.slider-gallery li {
    position: relative;
    overflow: hidden;
}
.slider-home ul.slider-gallery li a:after
{
    transition: 0.4s;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}
.slider-home ul.slider-gallery li a:hover:after {
    top: 0px;
    background: rgba(0, 0, 0, 0.6) url('../img/zoom.png') 50% 50% no-repeat;
}
.slider-home ul.slick-dots li button {
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #fff;
    background: none;
    outline: none;
}
.slider-home ul.slick-dots li {
    display: inline-block;
    margin: 0 4px;
    outline: none;
}
.slider-home ul.slick-dots {
    width: 100%;
    text-align: center;
    margin-top: 1%;
    display: inline-block;
}
.slider-home ul.slick-dots li.slick-active button {
    background-color: #fff;
}
.news{
    width: 65%;
    min-width: 750px;
    display: flex;
   justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 4%;
    padding: 0;
    font-family: "Myriad Pro";
}
.news h3{
    font-size: 1.875rem;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
    font-weight: 500;
}
.news_content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news figure{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 0;
    padding-left:0.3rem;
    padding-right: 0.3rem;
}

.news figure>img{
    width: 100%;
    margin-bottom: 1em;

}
.news figcaption {
    display: flex;
    flex-direction: column;
}
.news h4{
    font-size: 1.375rem;
    font-weight: 500;
    padding: 0;
    margin: 0;

}
.news figcaption>p{
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.news figcaption>div{
    display: flex;
  justify-content: space-between;
    font-size: 0.875rem;
    align-items: center;
}
footer{
    width: 100%;
    min-width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #0798c7;
}
.footer_desctop{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_tablet{
    width: 65%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}
.left_footer, .right-footer{
    width: 43%;
}
footer h4{
    font-family: "MyriadProRegular", serif;
    font-size: 1rem;
    color: #FFFFFF;
}
footer p{
    font-family: "MyriadProRegular", serif;
    font-size: 0.8125rem;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
footer img{
    width: 1.125rem;
    height: 1.5rem;
}
.contact_left, .contact_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 6%;
}
.location-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 12%;
    width: 40%;
}
.location-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    width: 50%;
}
.location-left img, .location-right img{
    margin-right: 7%;
}
.phone-left, .phone-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 29%;
}
.networks{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.networks a img{
    opacity: 0.7;
    width: 83%;
    height: 83%;
}
.networks a img:hover{
    opacity: 1;
    width: 83%;
    height: 83%;
}
.feedback{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form{
    position: relative;
}
.button {
    background: #068ab5;
    height: 1.875rem;
    color: #FFFFFF;
    font-family: "MyriadProRegular", serif;
    font-size: 0.875rem;
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
    background-image: url('../img/write.png');
    background-repeat: no-repeat;
    background-position: 10px;
    outline: none;
    padding-left: 38px;
}
.button:hover{
    cursor: pointer;
}
#dialog-desctop, #dialog-tablet{
    display:none;
   flex-direction: column;
    position: absolute;
bottom: 125%;
    z-index: 2;
    background-color: #259ec5;
    -webkit-padding-start: 0;
    opacity: 0.9;
width: 300px;
    border-radius: 10px;
}
#dialog-desctop input, #dialog-tablet input{
    margin: 0 auto;
    background: #FFFFFF;
    border: 2px solid #0798c7;
    border-radius: 5px;
    margin-bottom: 1%;
    width: 250px;
    height: 1.5rem;

}
#dialog-desctop textarea, #dialog-tablet textarea{
    margin: 0 auto;
    background: #FFFFFF ;
    border: 0.5px solid #0798c7;
    border-radius: 5px;
    margin-bottom: 1%;
    width: 250px;
}
#dialog-desctop label, #dialog-tablet label {
    color: #FFFFFF;
    font-family: "MyriadProRegular", serif;
    font-size: 1rem;
    text-align: center;
    margin: 3%;
}
#dialog-desctop input.error, #dialog-tablet input.error{
    border: 1px solid maroon;
}
#dialog-desctop label.error, #dialog-tablet label.error{
    color: maroon;
    font-family: "MyriadProRegular", serif;
    font-size: 0.975rem;

}

#dialog-desctop>.send_mass, #dialog-tablet> .send_mass{
    color: #0798c7;
    font-family: "MyriadProRegular", serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
border: 2px solid #FFFFFF;
    width: 130px;
    margin-top: 2%;
}
.notification_ok{
 color: #FFFFFF;
    font-family: "MyriadProRegular", serif;
    font-size: 0.875rem;
    margin-top: 5px;
}
.feedback_tablet{
    display: flex;
    flex-direction: column;
}
.feedback_tablet>.networks a img{
    opacity: 0.7;
    width: 100%;
    height: 100%;
}
.feedback_tablet>.networks{
    display: flex;
    justify-content: space-between;
    width: 67%;
    box-sizing: border-box;
    margin-bottom: 8%;
}
.feedback_tablet>.networks a img:hover{
    opacity: 1;
}
.button-tablet{
    background: #068ab5;
    height: 1.875rem;
    color: #FFFFFF;
    font-family: "MyriadProRegular", serif;
    font-size: 0.875rem;
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
    background-image: url('../img/write.png');
    background-repeat: no-repeat;
    background-position: 10px;
    outline: none;
    padding-left: 38px;
    margin-bottom: 12%;
}
.left_footer-tablet, .right_footer-tablet{
display: flex;
    flex-direction: column;
    align-self: stretch;
}
.left_footer-tablet h4, .right_footer-tablet h4{
    margin: 0;
    padding: 0;
}
.left_footer-tablet h4{
    margin-bottom: 8%;
}
.right_footer-tablet h4{
margin-bottom: 18%;
}
.contact_left-tablet, .contact_right-tablet {
    display: flex;
    flex-direction: column;
}
.location-left-tablet, .location-right-tablet,.phone-left-tablet, .phone-right-tablet{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location-left-tablet img, .location-right-tablet img,.phone-left-tablet img, .phone-right-tablet img{
    margin-right: 7%;
}
.location-left-tablet{
margin-bottom: 15%;
}
.location-right-tablet{
margin-bottom: 14%;
}
.mobile_home{
    display: none;
}
@media screen and (min-width: 750px) and (max-width:1280px) {
    .footer_tablet {
        display: flex;
        width: 100%;
    }
.footer_tablet>p{
    display: none;
}
    .footer_desctop {
        display: none;
    }

    .news figure {
        width: 31.5%;
    }

    .news figure figcaption h4 > br {
        display: none;
    }

    header section > a {
        width: 28%;
    }

    .header-content figure {
        margin-left: -2%;
    }

    .header-content section > ul {
        display: none;
    }

    .face {
        margin-left: -6.5%;
    }

    .navigation {
        min-width: 740px;
    }

    #dialog-tablet {
        width: 250px;
    }

    #dialog-tablet input, #dialog-tablet textarea {
        width: 210px;
    }

    .philosophy figure {
        width: 100%;
        min-width: 750px;

    }
    .philosophy figure:before{
        margin-top: -3%;
    }
    .philosophy figure:after{
        margin-bottom: -3%;
    }
    .philosophy figure img {
        margin-right: 0;
        margin-left: 0;
    }

    .philosophy figcaption {
        width: 54%;
        align-items: center;
    }
    .philosophy figcaption h4{
margin-top: -3%;
        margin-bottom: 2%;
    }
    .service{
        justify-content: flex-start;
    }
    .service ul{
        width:45%
    }
}
@media  screen and  (min-width: 480px) and (max-width: 750px){
    header {
        width: 100%;
        background: url("../img/header-bg2.png") center;
        background-size: cover;
        border-bottom: 2px solid #0798c7;
        display: block;
        padding: 0;
        margin: 0;
    }
    .header-content {
        transform: scale(0.8);
        min-width: 480px;
        margin: 0;
    }
    .header-content figure figcaption{
        width: 115%;
    }
    nav{
        display: flex;
      max-width: 750px;
        position: absolute;
    }
    .navigation{
        display: flex;
        flex-direction:row;
       min-width: 480px;
    }
    .navigation li a{
        padding: 0;
    }
    footer{
display: flex;
        max-width: 750px;
        min-width: 480px;
    }
    nav ul li {
        list-style-type: none;
        position: relative;

    }
    nav ul li a{
        text-decoration: none;
        font-size: 0.725rem;
        color: #FFF;
        line-height: 3.8em;
        font-family: "MyriadProRegular";
    }
    .face{
     display: none;
    }
    #green-link, #blue-link{
       display: none;
    }
    .header-content section>ul{
        display: none;
    }
    .header-content figure{
        width:20%;
        margin-left: -11%;
    }
    .header-content figure figcaption {
        font-size: 0.9em;
    }
   .navigation {
       width: 50%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       max-width: 500px;
   }
   .service{display: flex;
      justify-content: space-between;
       flex-wrap: wrap;

   }
    .philosophy figure {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        min-width: 480px;
    }
    .philosophy figure img{
        margin-bottom: 5%;
    }
    .philosophy figure:before{
        margin-top: -2%;
      align-self: flex-start;
    }
    .philosophy figure:after{
        margin-bottom: -5%;
    align-self: flex-end;
    }
    .philosophy figcaption h4{
        margin-top: -3%;
        margin-bottom: 2%;
    }
  .news{
      display: flex;
      width: 100%;
      min-width: 480px;
  }
  .news .news_content{
      justify-content: space-around;
  }
    .news figure:last-child{
        display: none;
    }
    .news figure figcaption h4>br{
        display: none;
    }
    .footer_desctop{
        display: none;
    }
    .footer_tablet{
        display: flex;
        width: 100%;
    }
    .footer_tablet>p{
        display: none;
    }
    #dialog-tablet {
        width: 220px;
    }
    #dialog-tablet input, #dialog-tablet textarea {
        width: 180px;
    }
    }

@media screen and  (max-width: 480px){
   .container{
       min-width: 400px;
   }
    header {
        width: 100%;
        height: 215px;
        background: url("../img/header-bg3.png") center;
        background-size: cover;
        border-bottom: 2px solid #0798c7;
        display: block;
        padding: 0;
        margin: 0;
    }
    nav {
        display: none;
    }
    nav.sticky{
        display: none
    }
    .face{
        display: none;
    }
    .header-content figure{
        transform: scale(0.5);
        width: 45%;
        position: absolute;
        top: -5%;
        left: 12%;
        opacity: 0.9;
    }
    .header-content figure figcaption{
        width: 150%;
    }
    .header-content section a {
        display: none;
    }
    .mobile_home {
        width: 100%;
    display: flex;
    flex-direction: row;
}
    .mobile_menu_button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #0b96cf;
        width: 15%;
    }
    #mobile_menu{
        width: 180px;
        background: #29a1c8;
        opacity: 1;
        z-index: 9999;
    }

    #mobile_menu ul li {
        list-style-type: none;
        position: relative;
        line-height: 1.375rem;
        left: 35%;
        padding: 0;
        padding-bottom: 1%;
    }
    #mobile_menu ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: #FFF;
        font-family: "MyriadProRegular";
    }
    #mobile_menu ul li:hover{
        background-color: #0d9ac7;
    }
    #mobile_menu li:hover .hide_menu {
        visibility: visible;
    }
    .hide_menu {
        width: 200px;
        position: absolute;
        top:-40%;
        left:50%;
        background: none;
    }
    .hide_menu li{
        background:#35abd1;
    }
.hide_menu li a{
    line-height: 1rem;
}
.mobile_nav{
    display: flex;
   width: 85%;
    flex-direction: column;
}
    .mobile_nav  a {
        text-decoration: none;
        color: #a8bec7;
    }
  .mobile_nav a:hover{
        color: white;
    }
    #mobile_blue_link{
        background: #07d4e9;
        width: 100%;
        text-align: center;
    }
    #mobile_green_link {
        background: #b3d15f;
        width: 100%;
        text-align: center;
    }
    .service{
        flex-direction: column;
    }
    .service ul li{
        display: flex;
        flex-direction: row;
    }
    .philosophy figure {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        min-width: 320px;
    }
    .philosophy figure:before{
        margin-top: -2%;
        margin-left: -7%;
        align-self: flex-start;
    }
    .philosophy figure:after{
        margin-bottom: -5%;
        align-self: flex-end;
        margin-right: -7%;
    }
    .philosophy figure img{
        margin-bottom: 5%;
    }
    .philosophy figcaption h4{
        margin-bottom: 2%;
    }
    .news{
        display: flex;
        width: 100%;
        min-width: 320px;
    }
    .news .news_content{
        justify-content:space-around;
    }
    .news figure:last-child{
        display: none;
    }
    .news figure figcaption h4>br{
        display: none;
    }
    .news figure:last-child{
        display: none;
    }
    footer{
        min-width: 320px;
    }
    .footer_desctop{
        display: none;
    }
    .footer_tablet{
        display: flex;
flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
 .feedback_tablet{
     width: 100%;
        flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     margin-top: 3%;
    }
    .footer_tablet .feedback_tablet>p{
        display: none;
    }
    .feedback_tablet .networks{
        width: 35%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .feedback_tablet .button-tablet{
     margin-top: -5%;
    }
    #dialog-tablet {
        width: 200px;
        left:-20%;
    }
    #dialog-tablet label {
        margin: 1%;
    }
    #dialog-tablet input, #dialog-tablet textarea {
        width: 160px;
    }
    #dialog-tablet textarea {
   height: 50px;
    }
.left_footer-tablet, .right_footer-tablet{
  align-items: center;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 3%;
}
.contact_left-tablet, .contact_right-tablet{
    width: 100%;
    flex-direction: row;
    align-items: center;
  justify-content: flex-end;
}
.left_footer-tablet h4, .right_footer-tablet h4{
width: 92%;
    align-self:flex-end;
    margin-bottom:4%;
}
.location-left-tablet, .location-right-tablet{
    margin-bottom:0;
    width: 47%;
}
.phone-left-tablet, .phone-right-tablet{
    width: 45%;
}
}
